html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    overflow-x: hidden;
    zoom: 100%;
}
body {
    line-height: 1.2;
    background-image: url(images/image.png);
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset browser styles */

a{
    text-decoration: none;
}

.in-dev {
    width: 1360px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.in-dev__header {
    width: 100%;
    height: 80px;
    margin-top: 0px;
}

.header {
    background: linear-gradient(to bottom, rgba(179,220,237, 0.2) 0%, rgba(47,196,250, 0.2) 100%);
    border-bottom: 0.1px solid black;
}

.header__left {
    position: absolute;
    left: 300px;
    top: 0px;
    margin-left: 40px;
}

.header__right {
    position: absolute;
    left: 1000px;
    top: 0px;
    margin-left: 150px;

}

.btn-styles-left {
    outline: none;
    border: none;
    width: 220px;
    height: 80px;
    margin-left: -4px;
    background-color: rgba(179,220,237, 0);
    font-size: 25px;
}
.btn-styles-left:hover {
    background: #5c5d5f;
    color: white;
}

.btn-styles-right {
    outline: none;
    border: none;
    display: block;
    width: 210px;
    height: 40px;
    background-color: rgba(179,220,237, 0);
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.btn-styles-right:hover {
    cursor: pointer;
    background: #5c5d5f;
    color: white;
}

.signup {
    cursor: pointer;
    background: #5c5d5f;
    color: white;
    outline: none;
    border: none;
    display: block;
    width: 210px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.loginEnd {
    cursor: pointer;
    background: #5c5d5f;
    color: white;
    outline: none;
    border: none;
    display: block;
    width: 210px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.header__image {
    width: 200px;
    height: 75px;
    margin-left: 25px;
    margin-top: 5px;
}

.in-dev__body {
    margin-left: 415px;
    width: 530px;
    height: 550px;
    margin-top: 65px;
    border: 1px solid black;
    border-radius: 20px;
    background: #eaeaea;
    font-family: "Times New Roman";
}

.body__steps{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 442px;
    top: 151px;
    font-size: 22px;
}

.body__title{
    position: absolute;
    left: 516px;
    top: 194px;
    width: 400px;
    height: 100px;
    font-size: 40px;
    font-family:inherit;
    font-weight: 900;
}

.body__step1{
    margin: auto;
    margin-top: 140px
}

.span{
    display: block;
    margin-top: 5px;
    margin-left: 110px;
    border: none;
    background: none;
    font-size: 22px;
    font-family: "Times New Roman";

}

.input{
    display: block;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    height: 25px;
    border: none;
    background: linear-gradient(to bottom, rgba(179,220,237, 0.4) 0%, rgba(47,196,250, 0.4) 100%);
    border-bottom: 1px solid black;
    font-size: 22px;
    padding-left: 0px;
    font-family: "Times New Roman";
}
.multilist{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    height: 25px;
    border: none;

}
.multiright{
    margin-left: 0px;
    margin-top: 0px;
    width: 46px;
    height: 28px;
}
.multileft{
    margin-left: 0px;
    width: 250px;
    height: 25px;
}
.next {
    border-radius: 0px 40px 40px 0px;
    border: 6px double rgba(179,220,237, 1);
    width: 100px;
    text-align: center;
    position: absolute;
    left: 755px;
    top: 640px;
    font-family: "Times New Roman";
}

.next:hover {
    border: 6px double rgba(179,220,237, 1);
    background: black;
    color: white;
}

.checkbox {
    display: block;
    margin-top: 20px;
    margin-left: 110px;
}

.back {
    border-radius: 40px 0px 0px 40px;
    border: 6px double rgba(179,220,237, 1);
    width: 100px;
    text-align: center;
    position: absolute;
    left: 505px;
    top: 640px;
    font-family: "Times New Roman";
}
.back:hover {
    border: 6px double rgba(179,220,237, 1);
    background: black;
    color: white;
}

.register {
    border-radius: 40px 40px 40px 40px;
    border: 6px double rgba(179,220,237, 1);
    width: 200px;
    text-align: center;
    position: absolute;
    left: 705px;
    top: 640px;
    font-family: "Times New Roman";
}
.register:hover {
    border: 6px double rgba(179,220,237, 1);
    background: black;
    color: white;
}

.in-dev__tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    background-color: #e43618;
    padding: 10px 10px 10px 10px;
    color: black;
    text-align: left;
    opacity: 0.6;
    border-radius: 5px;
    font-family: "Times New Roman";
    font-size: 22px;
}

.btn_back {
    margin-left: 590px;
    margin-top: 350px;
    background: #ffffff;
    text-shadow: 0px 2px 0px rgba(254, 255, 253, 0.88);
    font-size: 22px;
    height: 58px;
    width: 155px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 58px;
    font-family: "Times New Roman";
}
.cbalink {
    visibility: hidden;
}

.chosen-choices {
    margin: 0 0 0 110px;
}

.search-field{
    display: block;
    margin-top: 0px;
    margin-left: 110px;
    width: 100%;
    height: 25px;
    border: none;
    background: linear-gradient(to bottom, rgba(179,220,237, 0.4) 0%, rgba(47,196,250, 0.4) 100%);
    border-bottom: 1px solid black;
    font-size: 22px;
    padding-left: 5px;
    font-family: "Times New Roman";
}